# Common
NEXT_PUBLIC_SITE_URL=http://localhost:3000
CRON_SECRET=

# AI (Required)
GROQ_API_KEY=

# Exchange: Binance
BINANCE_API_KEY=
BINANCE_SECRET=

# Exchange: Bitget (Alternative)
BITGET_API_KEY=
BITGET_SECRET=
BITGET_PASSPHRASE=
