# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/

# env
.env.local
.env.development.local
.env.test.local
.env.production.local

# database
data/*.db

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
